.content {
    > section {
        margin-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #d2d2d2;
        box-sizing: border-box;
        > header {
            text-align: center;
            margin-bottom: 12px;
        }
    }
}