<ion-content style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1;">
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
                <ion-img [src]="photo.webviewPath"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- ion-fab markup  -->
</ion-content>
<ion-content>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="addPhotoToGallery()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>